# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
*.swo

# Ignore compiled code and binaries
*.o
*.out
*.class
*.exe

# Ignore dependency directories
node_modules/
venv/
env/

